@model Final_Project.Models.Spartan

@{
    ViewData["Title"] = "Create a Admin";
}
@if (!User.IsInRole("Admin"))
{
    Context.Response.Redirect("/");
}

<div class="container-xxl page-header page-header-trainee-profile" style="background-color: #e23565; margin-bottom: 1em!important;">
    <div class="container text-center">
        <h1 class="text-white animated zoomIn mb-3">Create Admin</h1>
        <p class="lead text-white">Create a new admin for the academy</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAdmin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="UserName" class="control-label fw-bold">Username</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PhoneNumber" class="control-label fw-bold">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" asp-items="ViewBag.SpartanId"/>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn bg-main" />
                <a asp-action="Index" role="button" class="btn btn-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
