@{
    ViewData["Title"] = "Home Page";
}

<div class="container-xxl page-header" style="background-color: #e23565">
    <div class="container text-center">
        <h1 class="text-white animated zoomIn mb-3">Sparta Trainee Tracker</h1>
        @if (User.IsInRole("Admin")) {
            <h4 class="lead text-white fw-bold">Role: Admin</h4>
        }
        @if (User.IsInRole("Trainee"))
        {
            <h4 class="lead text-white fw-bold">Role: Trainee</h4>
        }
        @if (User.IsInRole("Trainer"))
        {
            <h4 class="lead text-white fw-bold">Role: Trainer</h4>
        }
        @if (User.IsInRole("Admin") || (User.IsInRole("Trainee") || (User.IsInRole("Trainer"))))
        {
            //do nothing
        }
        else
        {
            <p class="lead text-white">The place for Sparta Trainees to manage their profiles as well as monitor their performance throughout the training programme.</p>
            <a asp-area="Identity" asp-page="/Account/Login" role="button" class="btn index-btn bg-white btn-lg px-4 me-md-2" style="color: #e23565">Login</a>
        }
    </div>
</div>

@if (User.IsInRole("Trainee"))
{
    <div class="row justify-content-center" style="gap: 2em;">
        <div class="card mb-3 index-card" style="max-width: 20rem; border: 1px solid #e23565; color: #e23565;">
            <a class="index-anchors" asp-area="" asp-controller="TraineeProfiles" asp-action="Index">
                <div class="card-body">
                    <h5 class="card-title">Manage Your Profile</h5>
                    <p class="card-text">Ensure your Sparta Profile is client ready.</p>
                </div>
            </a>
        </div>
        <div class="card mb-3 index-card" style="max-width: 20rem; border: 1px solid #e23565; color: #e23565;">
            <a class="index-anchors" asp-area="" asp-controller="PersonalTracker" asp-action="Index">
                <div class="card-body">
                    <h5 class="card-title">Manage Your Performance</h5>
                    <p class="card-text">Track your path to becoming a fully-fledged Spartan</p>
                </div>
            </a>
        </div>
    </div>
}
@if (User.IsInRole("Trainer"))
{
    <div class="row justify-content-center" style="gap: 2em;">
        <div class="card mb-3 index-card" style="max-width: 20rem; border: 1px solid #e23565; color: #e23565;">
            <a class="index-anchors" asp-area="" asp-controller="TraineeProfiles" asp-action="IndexTrainer">
            <div class="card-body">
                <h5 class="card-title">Manage Your Trainees</h5>
                <p class="card-text">Ensure all Sparta Profiles are client-ready.</p>
            </div>
            </a>
        </div>

        <div class="card mb-3 index-card" style="max-width: 20rem; border: 1px solid #e23565; color: #e23565;">
            <a class ="index-anchors" asp-area="" asp-controller="PersonalTracker" asp-action="IndexTrainer">
            <div class="card-body">
                <h5 class="card-title">Track Trainee Progression</h5>
                <p class="card-text">Leave comments on Trainee trackers for reflection.</p>
            </div>
            </a>
        </div>
    </div>
}
@if (User.IsInRole("Admin"))
{
    <div class="row justify-content-center" style="gap: 2em;">
        <div class="card mb-3 index-card" style="max-width: 20rem; border: 1px solid #e23565; color: #e23565;">
            <a class="index-anchors" asp-area="" asp-controller="User" asp-action="Index">
            <div class="card-body">
                <h5 class="card-title">Manage Spartans</h5>
                <p class="card-text">Create new and Manage all Spartan accounts.</p>
            </div>
            </a>
        </div>
    </div>
}