html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #e23565;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(226, 53, 101, 1), #fb3a6c)
}

#profile-container {
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.details-container,
.login-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bg-main {
    background-color: #e23565;
    color: white!important;
}

/*** Button ***/
.index-btn {
    font-weight: 500;
    transition: .5s;
}

.index-btn:hover {
    color: #FFFFFF!important;
    background-color: #e23565!important;
    border: 1px solid white;
}

.page-header {
    user-select: none;
    margin-bottom: 3rem;
    padding: 10rem 0 6rem 0;
}

.page-header-trainee-profile {
    padding: 4rem 0 2rem 0;
}

.index-card {
    transition: .5s;
    user-select: none;
}
.index-card:hover {
    color: white!important;
    background-color: #e23565!important;
}

.form-check-input:checked {
    background-color: #e23565!important;
    border-color: #e23565!important;
    outline: none!important;
}

.details-container {
    white-space: pre-line;
}

.about-me-p {
    white-space: pre-line;
}

.index-anchors {
    text-decoration: none!important;
    color: #e23565!important;
}

.index-anchors:hover {
    color: white!important;
}

.p3 {
    font-family: "Lucida Console", "Courier New", monospace;
}

.title {
    font-family: Papyrus, fantasy;
}

h1 {
    letter-spacing: 1.5px;
}